<nav class="nav-bar">
  <div class="nav-left">
    <span class="nav-logo">📚</span>
    <a routerLink="/books" routerLinkActive="active">{{ 'nav.books' | translate }}</a>
    <a *ngIf="isAdmin || isLibrarian" routerLink="/users" routerLinkActive="active">{{ 'nav.users' | translate }}</a>
    <a *ngIf="isLibrarian" routerLink="/reservations" routerLinkActive="active">{{ 'nav.reservations' | translate }}</a>
    <a *ngIf="isUser" routerLink="/my-reservations" routerLinkActive="active">{{ 'nav.myReservations' | translate }}</a>
  </div>
  <div class="nav-right">
    <app-language-selector></app-language-selector>
    <span *ngIf="displayName" class="nav-user">{{ 'nav.loggedInAs' | translate }} <b>{{ displayName }}</b></span>
    <button *ngIf="!displayName" (click)="showLogin = true">{{ 'nav.login' | translate }}</button>
    <button *ngIf="!displayName" (click)="showRegister = true">{{ 'nav.register' | translate }}</button>
    <button *ngIf="displayName" (click)="logout()">{{ 'nav.logout' | translate }}</button>
  </div>
</nav>
<div class="main-content">
  <router-outlet></router-outlet>
  <app-login-modal *ngIf="showLogin" (modalClose)="showLogin = false"
                   (loginSuccess)="onLogin($event)"></app-login-modal>
  <app-register-modal *ngIf="showRegister" (modalClose)="showRegister = false"></app-register-modal>
</div>
