<h2>Books</h2>
<button *ngIf="isLibrarian" routerLink="/books/new" style="margin-bottom: 15px;">Create Book</button>
<table *ngIf="books.length > 0; else noBooks" class="book-table">
  <caption>Available Books</caption>
  <thead>
  <tr>
    <th *ngIf="isLibrarian">ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Type</th>
    <th>Pages</th>
    <th>Edition</th>
    <th>Creation Year</th>
    <th>Release Date</th>
    <th>Status</th>
    <th>Quantity</th>
    <th *ngIf="isUser"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <td *ngIf="isLibrarian">{{ book.id }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
      <td>{{ book.genre | enumFormat }}</td>
      <td>{{ book.type | enumFormat }}</td>
    <td>{{ book.pages }}</td>
    <td>{{ book.edition }}</td>
    <td>{{ book.creationYear | date:'yyyy' }}</td>
    <td>{{ book.releaseDate | date:'dd.MM.yyyy' }}</td>
      <td>{{ book.status | enumFormat }}</td>
    <td>
      <span *ngIf="book.quantity > 0">{{ book.quantity }}</span>
      <span *ngIf="book.quantity === 0" class="badge badge-out">Out of stock</span>
    </td>
    <td *ngIf="isUser">
      <button *ngIf="book.quantity > 0" (click)="reserveBook(book.id)" title="Reserve this book">Reserve</button>
    </td>
  </tr>
  </tbody>
</table>
<ng-template #noBooks>
  <p>No books found.</p>
</ng-template>

<div *ngIf="notification" class="notification" [ngStyle]="{ background: notification.color }">
  {{ notification.message }}
</div>
